
<% if @error_message %>
  <p class="text-danger mx-5"><%=@error_message %></p>
<% end %>

<%=form_with scope: :session, local: true do |f| %>

<div class="form-group px-5 mx-5">
  <%=f.text_field :email, value: @email, autofocus: true, autocomplete: "email",class: "form-control my-4 use_icon",id: "session_email", placeholder: " メールアドレス" %>
  <%=f.text_field :password, value: @password, autocomplete: "password", class: "form-control use_icon", id: "session_password", placeholder: " パスワード" %>
</div>
<div class="text-center mt-4">
  <%=f.submit 'ログインする', class: 'btn btn-info btn-lg' do %>
    <i class="fa-solid fa-right-to-bracket lead"></i>　ログインする
  <% end %>
</div>
<% end %>

<div class="text-center mt-4">
  <p class="logo-top display-1">BestReport</p>
</div>
<%# <div class="text-center mt-5">
  <%= image_tag 'topimage.png', size: '240x240' %>

