<h1>生徒一覧</h1>
<% if current_user.admin %>
    <div class="text-center mb-4">
        <%= link_to "生徒を新しく作成", new_student_path, class: "btn btn-warning font-weight-bold my-3 mx-3 btn-lg shadow" %>
    </div>
<% end %>
<%= search_form_for @q, class: 'mb-5' do |f| %>
    <div class="form-group row">
        <div>
            <%= f.search_field :kana_or_school_cont, placeholder: '「生徒なまえ」or「学校」', class: 'form-control' %>
        </div>
        <div>
            <%= f.submit class: 'btn btn-outline-primary  mx-3' %>
        </div>
        
    </div>
<% end %>

<div class="mb-3">
    <%= paginate @students %>
    <%= page_entries_info @students %>
</div>

<table class="table table-striped table-hover table-bordered shadow-sm my-3">
    <thead class="thead-default">
        <tr class="table-primary text-center">
            <th><%= Student.human_attribute_name(:name) %></th>
            <th><%= sort_link(@q, :kana) %></th>
            <th><%= sort_link(@q, :school) %></th>
            <th><%= Student.human_attribute_name(:grade) %></th>
            <th><%= sort_link(@q, :birthdate) %></th>
            <% if current_user.admin %>
                <th>操作</th>
            <% end %> 
        </tr>
    </thead>
    <tbody>
    <% @students.each do |student| %>
        <tr>
            <td><%= link_to student.name, student %></td>
            <td><%= student.kana %></td>
            <td><%= student.school %></td>
            <td>
                <% @birth = student.birthdate.to_s %>
                <% birthday = Date.parse(@birth) %> 
                <% today = Date.today %> 
                <% toDate = Time.mktime(today.year - (today.month < 4 ? 1 : 0), 4, 1) %> 
                <% @age = (toDate.strftime('%Y%m%d').to_i - birthday.strftime('%Y%m%d').to_i) / 10000 %>
                <% if @age == 17 %>
                    高３
                <% elsif @age == 16 %>
                    高２
                <% elsif @age == 15 %>
                    高１
                <% elsif @age == 14 %>
                    中３
                <% elsif @age == 13 %>
                    中２
                <% elsif @age == 12 %>
                    中１
                <% elsif @age == 11 %>
                    小６
                <% elsif @age == 10 %>
                    小５
                <% elsif @age == 9 %>
                    小４
                <% elsif @age == 8 %>
                    小３
                <% elsif @age == 7 %>
                    小２
                <% elsif @age == 6 %>
                    小１
                <% else  %>
                    その他
                <% end %>
            </td>
            <td><%= student.birthdate %></td>
            <% if current_user.admin %>
                <td class="d-fl">
                    <%= link_to "詳細", student_path(student), class: "btn btn-primary" %>
                    <%= link_to "編集", edit_student_path(student), class: "btn btn-secondary" %>
                    <% if current_user.id == 1 %>
                        <%= link_to "削除", student, method: :delete, data: { confirm: "生徒「#{student.name}」を削除します。よろしいですか？"}, class: "btn btn-danger" %>
                    <% end %> 
                </td>
            <% end %> 
        </tr>
    <% end %>    
    </tbody>
</table>

<div class="mb-3">
    <%= paginate @students %>
    <%= page_entries_info @students %>
</div>

<% if current_user.admin %>
    <%= link_to "エクスポート", students_path(format: :csv), class: "btn btn-primary mb-3" %>

    <%= form_with url: import_students_path, multipart: true, class: 'mb-3' do |f| %>
        <%= f.file_field :file, :accept => "text/csv" %>
        <%= f.submit "インポート", class: 'btn btn-primary' %>
    <% end %>
<% end %>
