<% if report.errors %>
    <ul id="error_explanation">
    <% report.errors.full_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
    <% end %>
    </ul>
<% end %>

<%= form_with model: @report, class: "mx-3", local: true do |f| %>
  <table class="table table-striped table-hover table-bordered shadow-sm">
    <tbody>
      <tr>  
        <th class="table-success"><%= f.label :student_id %></th>
        <td><%= f.text_field :student_id, value: params[:student_id], class: 'form-control', id: 'report_student_id', readonly: 'readonly' %></td>
        <th class="table-success">生徒氏名</th>
        <td><%= @student.name %></td>
      </tr>
      <tr>  
        <th class="table-success"><%= f.label :kind %></th>
        <td><%= f.select :kind, %i[レギュラー 季節講習 追加 その他], {selected: ''}, class: 'form-control', id: 'report_kind' %></td>
        <th class="table-success"><%= f.label :subject %></th>
        <td><%= f.select :subject, %i[英語 数学 国語 理科 社会 算数 その他], {selected: ''}, class: 'form-control', id: 'report_subject' %></td>
      </tr>
      <tr>
        <th class="table-success"><%= f.label :attendance %></th>
        <td><%= f.select :attendance, %i[出席 欠席 遅刻], {selected: ''}, class: 'form-control', id: 'report_attendance' %></td>
        <th class="table-success"><%= f.label :credit %></th>
        <td><%= f.text_field :credit, placeholder: '例（季節講習）：5/15コマ', class: 'form-control', id: 'report_credit' %></td>
      </tr>
      <tr>
        <th class="table-success"><%= f.label :description %></th>
        <td colspan="3"><%= f.text_field :description, placeholder: '教科が「その他」の場合の詳細を記載', class: 'form-control', id: 'report_descrition' %></td>
      </tr>
      <tr>
        <th class="table-success"><%= f.label :unit_name %></th>
        <td colspan="3"><%= f.text_field :unit_name, autofocus: true, class: 'form-control', id: 'report_unit_name' %></td>
      </tr>
      <tr>
        <th class="table-success"><%= f.label :page %></th>
        <td colspan="3"><%= f.text_field :page, value: 'フォレスタ ワーク P 〜', class: 'form-control', id: 'report_page' %></td>
      </tr>
      <tr>
        <th class="table-success"><%= f.label :homework %></th>
        <td><%= f.select :homework, %i[〜10% 〜20％ 〜30％ 〜40％ 〜50％ 〜60％ 〜70％ 〜80％ 〜90％ 〜100％ 忘れた 前回宿題無し 評価なし], {selected: '〜60％'}, class: 'form-control', id: 'report_homework' %></td>
        <th class="table-success"><%= f.label :performance %></th>
        <td><%= f.select :performance, %i[〜10% 〜20％ 〜30％ 〜40％ 〜50％ 〜60％ 〜70％ 〜80％ 〜90％ 〜100％ 評価なし], {selected: '〜60％'}, class: 'form-control', id: 'report_performance' %></td>
      </tr>
      <tr>
        <th class="table-success"><%= f.label :minitest %></th>
        <td><%= f.text_area :minitest, rows: 2, class: 'form-control', id: 'report_minitest' %></td>
        <th class="table-success"><%= f.label :nexthw %></th>
        <td><%= f.text_area :nexthw, rows: 2, value: 'TryのX直しとEX', class: 'form-control', id: 'report_nexthw' %></td>
      </tr>
      <tr>
        <th class="table-success"><%= f.label :comment %></th>
        <td colspan="3"><%= f.text_area :comment, rows: 5, :required => true, placeholder: 'メールでの可読性のため一文ごとに改行をいれてください。', class: 'form-control', id: 'report_comment' %></td>
      </tr>
      <tr>
        <th class="table-success"><%= f.label :other %></th>
        <td colspan="3"><%= f.text_area :other, rows: 3, placeholder: '自分用メモ（生徒ができなかった単語の記録など）、もしくは学校長へ連絡用(生徒への報告書メールでは非表示)。学校長への連絡の場合は、「学校長へ」をつけてご連絡ください', class: 'form-control', id: 'report_other' %></td>
      </tr>
    </tbody>
  </table> 

  <div class="text-center">
    <%= link_to '生徒一覧', students_path, class: 'btn btn-secondary mr-3' %>
    <%= f.submit nil, class: "send btn btn-primary" %>
  </div>
<% end %>
