<h1>報告書の編集</h1>

<% if @report.errors %>
    <ul id="error_explanation">
    <% @report.errors.full_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
    <% end %>
    </ul>
<% end %>

<%= form_with model: @report, class: "mx-3", local: true do |f| %>
  <table class="table  table-hover table-bordered shadow-sm">
    <tbody>
        
      <tr>  
        <th class="table-success"><%= f.label :student_id %></th>
        <td><%= f.text_field :student_id, value: @report.student_id, class: 'form-control', id: 'report_student_id', readonly: 'readonly' %></td>
        <th class="table-success">生徒氏名</th>
        <td><%= @report.student.name %></td>
      </tr>
      <tr>  
        <th class="table-success"><%= f.label :kind %></th>
        <td><%= f.text_field :kind, value: @report.kind, class: 'form-control', id: 'report_kind' %></td>
        <th class="table-success"><%= f.label :subject %></th>
        <td><%= f.text_field :subject, value: @report.subject, class: 'form-control', id: 'report_subject' %></td>
      </tr>
      <tr>
        <th class="table-success"><%= f.label :attendance %></th>
        <td><%= f.text_field :attendance, value: @report.attendance, class: 'form-control', id: 'report_attendance' %></td>
        <th class="table-success"><%= f.label :credit %></th>
        <td><%= f.text_field :credit, class: 'form-control', id: 'report_credit' %></td>
      </tr>
      <tr>
        <th class="table-success"><%= f.label :description %></th>
        <td colspan="3"><%= f.text_field :description, class: 'form-control', id: 'report_descrition' %></td></tr>
      <tr>
        <th class="table-success"><%= f.label :unit_name %></th>
        <td colspan="3"><%= f.text_field :unit_name, class: 'form-control', id: 'report_unit_name' %></td>
      </tr>
      <tr>
        <th class="table-success"><%= f.label :page %></th>
        <td colspan="3"><%= f.text_field :page, class: 'form-control', id: 'report_page' %></td>
      </tr>
      <tr>
        <th class="table-success"><%= f.label :homework %></th>
        <td><%= f.text_field :homework, value: @report.homework, class: 'form-control', id: 'report_homework' %></td>
        <th class="table-success"><%= f.label :performance %></th>
        <td><%= f.text_field :performance, value: @report.performance, class: 'form-control', id: 'report_performance' %></td>
      </tr>
      <tr>
        <th class="table-success"><%= f.label :minitest %></th>
        <td colspan="3"><%= f.text_area :minitest, rows: 2, class: 'form-control', id: 'report_minitest' %></td>
      </tr>
      <tr>
        <th class="table-success"><%= f.label :comment %></th>
        <td colspan="3"><%= f.text_area :comment, rows: 5, class: 'form-control', id: 'report_comment' %></td>
      </tr>
      <tr>
        <th class="table-success"><%= f.label :nexthw %></th>
        <td colspan="3"><%= f.text_area :nexthw, rows: 2, class: 'form-control', id: 'report_nexthw' %></td>
      </tr>
      <tr>
        <th class="table-success"><%= f.label :other %></th>
        <td colspan="3"><%= f.text_area :other, rows: 3, class: 'form-control', id: 'report_other' %></td>
      </tr>
      <% if current_user.admin && (@report.mailsend == false) %>
      <tr>
          <th class="table-danger"><%= f.label :mailsend, '送信ステータス', class: "form-check-label" %></th>
          <td colspan="3">
              <%= f.check_box :mailsend, class: "form-check-input ml-1" %>
              <span class="ml-4">送信する場合はチェックを入れる</span>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table> 

  <div class="text-center">
    <%= f.submit '戻る', name: 'back', class: "btn btn-secondary mr-3" %>
    <%= f.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
