<h1>報告書の詳細</h1>

<table class="table table-striped table-hover table-bordered shadow-sm my-3">
    <tbody>
        <tr>
            <th class="table-success"><%= Student.human_attribute_name(:name) %></th>
            <td><%= link_to @report.student.name, student_path(@report.student_id) %></td>
            <th class="table-success"><%= Report.human_attribute_name(:teacher) %></th>
            <td><%= @report.user.name %></td>
        </tr>
        <tr>
            <th class="table-success"><%= Report.human_attribute_name(:created_at) %></th>
            <td><%= @report.created_at.strftime("%Y年%m月%d日" + "(%a)" + " %H:%M")  %></td>
            <th class="table-success"><%= Report.human_attribute_name(:attendance) %></th>
            <td colspan="3"><%= @report.attendance %></td>
        </tr>
        <tr>
            <th class="table-success"><%= Report.human_attribute_name(:kind) %></th>
            <td><%= @report.kind %></td>
            <th class="table-success"><%= Report.human_attribute_name(:subject) %></th>
            <td><%= @report.subject %></td>
        </tr>
        <tr>
            <th class="table-success"><%= Report.human_attribute_name(:credit) %></th>
            <td><%= simple_format(h(@report.credit), sanitize: false, wrapper_tag: "div") %></td>
            <th class="table-success"><%= Report.human_attribute_name(:description) %></th>
            <td><%= simple_format(h(@report.description), sanitize: false, wrapper_tag: "div") %></td>
        </tr>
        <tr>
            <th class="table-success"><%= Report.human_attribute_name(:unit_name) %></th>
            <td colspan="3"><%= @report.unit_name %></td>
        </tr>
        <tr>
            <th class="table-success"><%= Report.human_attribute_name(:page) %></th>
            <td colspan="3"><%= @report.page %></td>
        </tr>
        <tr>
            <th class="table-success"><%= Report.human_attribute_name(:homework) %></th>
            <td><%= @report.homework %></td>
            <th class="table-success"><%= Report.human_attribute_name(:performance) %></th>
            <td><%= @report.performance %></td>
        </tr>
        <tr>
            <th class="table-success"><%= Report.human_attribute_name(:minitest) %></th>
            <td><%= simple_format(h(@report.minitest), sanitize: false, wrapper_tag: "div") %></td>
            <th class="table-success"><%= Report.human_attribute_name(:nexthw) %></th>
            <td><%= simple_format(h(@report.nexthw), sanitize: false, wrapper_tag: "div") %></td>
        </tr>
        <tr>
            <th class="table-success"><%= Report.human_attribute_name(:comment) %></th>
            <td colspan="3"><%= raw auto_link(simple_format(h(@report.comment), sanitize: false, wrapper_tag: "div")) %></td>
        </tr>
        <tr>
            <th class="table-success"><%= Report.human_attribute_name(:other) %></th>
            <td colspan="3"><%= raw auto_link(simple_format(h(@report.other), sanitize: false, wrapper_tag: "div")) %></td>
        </tr>
        <tr>
            <th class="table-success"><%= Report.human_attribute_name(:updated_at) %></th>
            <td colspan="3"><%= @report.updated_at.strftime("%Y年%m月%d日" + "(%a)" + " %H:%M")  %></td>
        </tr>
        <tr>
            <th class="table-success"><%= Report.human_attribute_name(:mailsend) %></th>
            <td colspan="3"><%= @report.mailsend? ? '送信済み' : '未送信' %></td>
        </tr>
    </tbody>
</table>
<div class="text-center">
    <%= link_to "戻る", :back, class: "btn btn-secondary" %>
    <% if (@report.user_id == current_user.id) || current_user.admin %>
        <% if @report.mailsend == false %>
            <%= link_to "編集", edit_report_path(), class: "btn btn-primary mx-3" %>
        <% end %>
        <%= link_to "削除", @report, method: :delete, data: { confirm: "報告書「#{@report.id}」を削除します。よろしいですか？"}, class: "btn btn-danger" %>
    <% end %>
</div>
